<app-menu-principal-m></app-menu-principal-m>
<div class="contenido">
  <div class="content">

    <div class="col-md-8 offset-md-2">
    
      <div class="card">
        <div class="card-body text-center">
          <h5 class="text-center" style="color: #161515">
            Listado de  Estudiantes
          </h5>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="table-active">
                    <th scope="col">Fecha solicitud</th> 
                  <th scope="col">Nombre</th>
                  
                  <th scope="col">Correo electrónico</th>
                  <th scope="col">Materia</th>
                  <th scope="col">Tema</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let solicitudMentoria of SolicitudMentorias | paginate: { itemsPerPage: 5, currentPage: p }" >
                  <td>{{solicitudMentoria.fecha_solicitud_mentoria}}</td>
                  <td>{{solicitudMentoria.nombre}} {{solicitudMentoria.apellido }}</td>
                  <td>{{ solicitudMentoria.correo_electronico }}</td>
                  <td>{{ solicitudMentoria.nombre_materia }}</td>
                  <td>{{ solicitudMentoria.nombre_tema }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
