<app-registro-usuario></app-registro-usuario>
<div class="contenido">
<div class="content">
  <div class="col-md-10 offset-md-1"> 
    <div class="list-group-item">
      <h5 class="text-center" style="color: #161515">Registro de Usuarios</h5>
      <form [formGroup]="exform">
        <div class="form-group row">
          <div class="col">
            <label style="color: #161515">Nombre:</label>
            <input
            formControlName="nombre"
              type="text"
              class="form-control"
             
              placeholder="Ingrese nombre"
            />
            <small  *ngIf="exform.get('nombre').invalid && exform.get('nombre').touched" class="text-danger">Nombre es requerido</small>
          </div>
          

          <div class="col">
            <label style="color: #161515">Apellido:</label>
            <input
              type="text"
              class="form-control"
              formControlName="apellido"
              placeholder="Ingrese apellido"
              
            />
            <small  *ngIf="exform.get('apellido').invalid && exform.get('apellido').touched" class="text-danger">Apellido es requerido</small>
          </div>
          <div class="col">
            <label style="color: #161515">Correo:</label>
            <input
              type="text"
              class="form-control"
              name="cedula"
              formControlName="correo_electronico"
              placeholder="Ingrese correo electrónico"
            />
            <small  *ngIf="exform.get('correo_electronico').invalid && exform.get('correo_electronico').touched" class="text-danger">Correo es requerido</small>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label style="color: #161515">Contraseña:</label>

            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              name=""
              placeholder="Ingrese contraseña"
              formControlName="contrasenia"
            />
            <small  *ngIf="exform.get('contrasenia').invalid && exform.get('contrasenia').touched" class="text-danger">Contraseña es requerido</small>
            <i
              [class]="
                show_eye ? 'fa fa-eye iconoInput' : 'fa fa-eye-slash iconoInput'
              "
              (click)="toggleShow()"
            ></i>
          </div>

          <div class="col">
            <label style="color: #161515">Tipo rol:</label>
            <select
              (change)="optionsFn($event)"
              class="form-control"
              name="miselect"
              formControlName="id_rol"
            >
            
              <option *ngFor="let rol of roles">{{ rol.tipo_rol }}</option>
            </select>
            <small  *ngIf="exform.get('id_rol').invalid && exform.get('id_rol').touched" class="text-danger">tipo de rol es requerido</small>
          </div>
          <div class="col" *ngIf="estado">
            <label style="color: #161515">Carrera:</label>
            <select
              class="form-control"
              aria-label="Default select example"
              formControlName="carrera"
            >
              <option selected>Seleccione una opción</option>
              <option *ngFor="let carrera of carreras">{{ carrera.nombre_carrera}}</option>
            </select>
            <small  *ngIf="exform.get('carrera').invalid && exform.get('carrera').touched" class="text-danger">Carrera es requerido</small>
          
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-2" >
           
            <button routerLink="/usuarios"   class="btn btn-primary">REGRESAR</button>
          </div>
          <div class="col-md-4">
           
          </div>
          <div class="col-md-5">
           
            <button [disabled]="!exform.valid" class="btn btn-primary" (click)="saveUsuario()" >
              AGREGAR
              <i class="fas fa-p  lus-square"></i>
            </button>
           
          </div>
       
        </div>
        

       
      </form>
    </div>
  </div> 
</div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: W-STEM UTN
    
  </div>
  <!-- Copyright -->
</footer>

