<app-registro-usuario></app-registro-usuario>
<div class="contenido">
  <div class="content">
    <div class="row">
      
      <div class="col-md-6 offset-md-3">
        <button class="btn btn-primary" (click)="Crear()">
          <i class="fas fa-plus-square"></i> Crear materia
        </button>
        <br>
        <div class="card">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="table-active">
                  <th scope="col">Carrera</th>
                  <th scope="col">Materia</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
        
              <tbody>
                <tr *ngFor="let materiaCarrera of materiasCarrera  | paginate: { itemsPerPage: 5, currentPage: p }" >
                  <td>{{materiaCarrera.nombre_carrera}}</td>
                  <td>{{materiaCarrera.nombre_materia}}</td>
        
                  <td>
                    <button class="btn btn-primary">
                      <i class="fas fa-edit"></i>
                    </button>
                    |
                    <button class="btn btn-danger">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
    </div>
  
   
  
 
  </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: W-STEM UTN
   
  </div>
  <!-- Copyright -->
</footer>
