<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <style>
  
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    color: rgb(165, 75, 75);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 */

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #811c79;
    color: white;
    font-weight: 500;
  }


</style> -->

<!-- Toolbar -->
<!-- <div class="toolbar" >
   <span>BIENVENIDO ADMINISTRADOR</span>
   
</div>  -->
 <!-- <app-registro-usuario></app-registro-usuario>      --> 
 <!-- <app-login></app-login>  -->
<!-- <app-menu-principal-editor></app-menu-principal-editor> -->


<router-outlet></router-outlet>
<!-- <div  class="container-fluid p-4" >
 

</div>
  -->