<app-menu-principal-m></app-menu-principal-m>

<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar información</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label style="color: #161515">Carrera</label>
      <input
        type="text"
        class="form-control"
        name=""
        placeholder="Ingrese nombre"
        [(ngModel)]="materia1.nombre_materia"
      />
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="updateMateria(); close(contenido)"
    >
      GUARDAR
    </button>
  </div>
</ng-template>

<ng-template #conten let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Asignar Carrera</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="materiaCarreraform">
    
    <div class="modal-body">
      <div class="form-group">
        <label style="color: #161515">materia:</label>
        <input
         
          type="text"
          class="form-control"
          name=""
          [(ngModel)]="materia1.nombre_materia"
            
          formControlName="nombre_materia"
        />


        <label style="color: #161515">Carrera:</label>
        <select
          class="form-control"
          name="miselect"
          formControlName="nombre_carrera"
        >
          <option value="0">Selecciona una opción</option>
          <option *ngFor="let carrera of carreras">
            {{ carrera.nombre_carrera }}
          </option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="close(contenido)"
      >
        Cerrar
      </button>
      <button
        [disabled]="!materiaCarreraform.valid"
        type="button"
        class="btn btn-primary"
        (click)="guardar(); close(contenido)"
      >
        GUARDAR
      </button>
    </div>
  </form>
</ng-template>

<app-footer></app-footer>