<app-menu-principal-editor></app-menu-principal-editor>
<br/>
<div class="contenido">
  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 style="color: #4b4949; font-weight: 700">
            Listado publicaciones oferta académica FICA
          </h5>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-md-3">
              <button
                type="reset"
                class="btn btn-primary"
                (click)="estado();open(contenido);clear()"
              >
                CREAR PUBLICACIÓN <i class="fas fa-plus-square"></i>
              </button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-5">
              <div class="form-group row">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="textoBuscar"
                    [(ngModel)]="textoBuscar"
                    placeholder="Ingrese titulo"
                  />
                  <div class="input-group-text bg-white">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="table-active">
                  <th scope="col">Titulo</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Imagen</th>
                  <th scope="col" style="width: 120px;">acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let oferta_academica of ofertas_academica
                      | filtroOfertaAcad: textoBuscar
                      | paginate: { itemsPerPage: 3, currentPage: p }
                  "
                >
                  <td>{{ oferta_academica.titulo }}</td>
                  <td>{{ oferta_academica.descripcion }}</td>


                  <td>{{ oferta_academica.nombre_carrera }}</td>
                  <td>
                    <img
                      *ngIf="
                        oferta_academica.tipo_archivo == 'image/png' ||
                        oferta_academica.tipo_archivo == 'image/jpeg'
                      "
                      width="100px"
                      heigh="100px"
                      [src]="oferta_academica.ruta_archivo"
                      alt="no-image"
                    />
                  </td>
                  <!-- <video
                  *ngIf="
                    oferta_academica.tipo_archivo == 'video/mp4' ||
                    tipo_archivo == 'video/mov'
                  "
                  width="100px"
                  heigh="100px"
                  [src]="perfil.ruta_archivo"
                  class="img-fluid"
                  alt="no-image"
                ></video> -->

                  <td>
                    <button
                      class="btn btn-primary"
                      (click)="estadoedit();
                        getpublicacion(oferta_academica.id_publicacion);
                        open(contenido)
                      "
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    |
                    <button
                      class="btn btn-danger"
                      (click)="
                        deletePublicacion(oferta_academica.id_publicacion)
                      "
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <pagination-controls (pageChange)="p = $event"></pagination-controls>

          <!-- [(ngModel)]="textoBuscar" -->

          <!-- <video src="../../../../assets/Pregunta a.mp4" width="300" controls> -->
          <!-- </video> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #imagen let-modal>
  <div class="modal-header">
    <h4 ng class="modal-title" id="modal-basic-title">Visualizar imagen</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <img
    width="100%"
    height="50px"
    class="d-none"
    [src]="leerArchivo || API_URI || '../../../../assets/noimage.png'"
    class="img-fluid"
    alt="no-image"
  />
</ng-template>
<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 *ngIf="!edit" class="modal-title" id="modal-basic-title">
      Crear publicación oferta académica FICA
    </h4>
    <h4 *ngIf="edit">Actualizar información </h4>

    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ofertaAform">

      <div  class="form-group">
        <label style="color: #161515" class="required"  >Carrera</label>

        <select
          class="form-control"
          name="miselect"
          formControlName="nombre_carrera"
        >
          <!-- <option selected>Seleccione una opción</option> -->
          <option value="" selected>Seleccione una opción</option>
          <option *ngFor="let carrera of carreras" >
            {{ carrera.nombre_carrera }}
          </option>
        </select>
        <small
          class="text-danger"
          *ngIf="
            ofertaAform.get('nombre_carrera').hasError('required') &&
            ofertaAform.get('nombre_carrera').touched
          "
          >campo es requerido</small
        >
      </div>
      <div class="form-group">
        <label class="required">Titulo: </label>
        <input
          type="text"
          class="form-control"
          name=""
          placeholder="Ingrese titulo"
          formControlName="titulo"
        />
        <small
        class="text-danger"
        *ngIf="
          ofertaAform.get('titulo').hasError('required') &&
          ofertaAform.get('titulo').touched
        "
        >campo es requerido</small
      >
      </div>

      <div class="form-group">
        <label class="required">Descripción:</label>
        <textarea
          rows="2"
          class="form-control"
          formControlName="descripcion"
          placeholder="Ingrese descripción"
          required
        ></textarea>
        <small
        class="text-danger"
        *ngIf="
          ofertaAform.get('descripcion').hasError('required') &&
          ofertaAform.get('descripcion').touched
        "
        >campo es requerido</small
      >
      </div>
      <div class="buttons" *ngIf="edit">
        <input
          type="file"
          class="d-none"
          placeholder=""
          (change)="onFileSelect($event)"
          #photo
        />

        <button (click)="photo.click()" class="btn btn-primary">
          Agregar imagen
        </button>

        <button class="btn btn-primary" (click)="open(imagen)">
          Ver imagen
        </button>
      </div>

      <div *ngIf="!edit">
        <input
          type="file"
          class="d-none"
          placeholder=""
          (change)="onFileSelect($event)"
          #photo
        />

        <button (click)="photo.click()" class="btn btn-primary">
          Agregar imagen
        </button>
        <img
          class="d-none"
          [src]="leerArchivo || API_URI || '../../../../assets/noimage.png'"
          class="img-fluid"
          alt="no-image"
        />
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>

    <button
    *ngIf="!edit"
      type="button"
      [disabled]="!ofertaAform.valid"
      class="btn btn-primary"
      (click)=" saveArchivo(); close(contenido)"
    >
      PUBLICAR
    </button>
    <button
    *ngIf="edit"
      type="button"
      [disabled]="!ofertaAform.valid"
      class="btn btn-primary"
      (click)=" updatepublicacion() ; close(contenido)"
    >
      GUARDAR
    </button>

  </div>
</ng-template>

<app-footer></app-footer>
