<app-registro-usuario></app-registro-usuario>
<div class="contenido">
  <div class="container p-5">
    <div class="row row-cols-1 row-cols-md-3 g-10">
      <div class="col">
        <div class="card text-center" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title" color="success">
              <i class="fa fa-users fa-1.5x fa-lg" aria-hidden="true"></i>
              Estudiantes registrados
            </h5>
            <p class="card-text">{{ countEstudiantes }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-heart fa-1.5x fa-l"></i>
              Publicaciones Likes
            </h5>
            <p class="card-text">{{ countLikes }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-book-open"></i> Mentorias agendadas
            </h5>
            <p class="card-text">{{ countMentoriaAgen }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" style="font-weight: 800">
            Estudiantes registrados
          </div>
          <div class="card-body">
            <table>
              <tr>
                <td>
                  <ngx-charts-bar-vertical
                    [view]="[210, 350]"
                    [results]="registro"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Mes'"
                    [yAxisLabel]="'Nro. de Estudiantes'"
                    [showDataLabel]="true"
                  >
                  </ngx-charts-bar-vertical>

                  <!-- <ngx-charts-bar-vertical
                    [results]="registro"
                    [view]="view"
                    scheme="cool"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"

                    [legendTitle]="''"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)"
                  >
                  </ngx-charts-bar-vertical> -->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" style="font-weight: 800">
            Estudiantes registrados por nivel académico
          </div>
          <div
            class="card-body align-items-center d-flex justify-content-center"
          >
            <ngx-charts-pie-chart
              [view]="viewC"
              [scheme]="colorScheme1"
              [results]="registroEst"
              [gradient]="gradientNro"
              [legend]="showLegendNro"
              [legendTitle]="''"
              [legendPosition]="legendPosition1"
              [labels]="showLabelsNro"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="height: 50vh;">
          <div class="card-header" style="font-weight: 800">
            Gestión Mentorias
          </div>
          <div
            class="card-body align-items-center d-flex justify-content-center"
          >
            <ngx-charts-advanced-pie-chart
              [view]="viewt"
              [scheme]="colorScheme"
              [results]="tipoMentoria"

              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" style="font-weight: 800">
            Mentorias Agendadas
          </div>
          <div class="card-body">
            <table>
              <tr>
                <td>
                  <ngx-charts-bar-vertical
                    [results]="mentoria"
                    [view]="view"
                    [scheme]="colorSchemeMA"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legendPosition]="legendPosition"
                    [legendTitle]="''"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [animations]="animations"
                    [yAxisLabel]="yAxisLabel"
                  ></ngx-charts-bar-vertical>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" style="font-weight: 800">
            Carreras FICA-UTN
          </div>
          <div class="card-body">

            <table>
              <tr>
                <td>
                  <ngx-charts-bar-vertical
                  [view]="[210, 350]"
                  [results]="eventosCarrera"
                  [scheme]="colorSchemeLC"
                  [xAxis]="true"
                  [yAxis]="true"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [legendTitle]="''"
                  [xAxisLabel]="'Carreras Ing.'"
                  [yAxisLabel]="'Nro. de likes'"
                  [showDataLabel]="true"
                >
                </ngx-charts-bar-vertical>



                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" style="font-weight: 800">
            Perfiles mujeres en STEM
          </div>
          <div class="card-body">
            <table>
              <tr>
                <td>
                  <ngx-charts-bar-vertical
                    [view]="[210, 350]"
                    [results]="LikesPerfil"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [legendTitle]="''"
                    [xAxisLabel]="'Perfil'"
                    [yAxisLabel]="'Nro. de likes'"
                    [showDataLabel]="true"
                  >
                  </ngx-charts-bar-vertical>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <BR />
</div>
<app-footer></app-footer>
