<div class="login-page">
  <div class="form">
    <img width="40%" height="40%" src="../../../assets/Fica Stem JPG.jpg" />
    <h2>Iniciar Sesión</h2>
    <input
      type="text"
      placeholder="Correo electrónico"
      [(ngModel)]="user.correo_electronico"
      class="form-control"
      required
      autofocus
    />

    <div>
      <i
        [class]="
          show_eye ? 'fa fa-eye iconoInput' : 'fa fa-eye-slash iconoInput'
        "
        (click)="toggleShow()"
      >
      </i>
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Contraseña "
        class="form-control"
        [(ngModel)]="user.contrasenia"
        required
        autofocus
      />
    </div>
    <button (click)="login()" class="btn btn-primary btn-block">Acceder</button>
  </div>
</div>
<app-footer></app-footer>
