.list-group-item{
    background: rgba(252, 250, 252, 0.952);

}
.content {
  margin-left: 60px;
  padding-left: 20px;
  margin-right: 60px;
  padding-top: 5px;
  }
  .contenido {
    padding: 6% 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(71, 69, 69, 0.5)),url(../../../../assets/admin.jpg );
    background-repeat: no-repeat center center fixed;
    min-height: 100vh;
    background-size:100% 100%;
  
    /* background-attachment: fixed; */
    /* width: 100%; */
  
  
  }