<app-menu-principal-m></app-menu-principal-m>
<div class="contenido">

  <div class="container">
    <br />
    <br />
    <br />
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header  " >
          <h5  style="color: #4b4949;font-weight: 700;">
            Listado de materias a impartir en la mentoria
          </h5>
        </div>
        <div class="card-body text-center">

          <div class="row">
            <div class="col-md-3">
              <button
                (click)="open(contenido); clear()"
                class="btn btn-primary"
              >
                AGREGAR MATERIA <i class="fas fa-plus-square"></i>
              </button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-5">
              <div class="form-group row">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="textoBuscar"
                    [(ngModel)]="textoBuscar"
                    placeholder="Buscar materia"
                  />
                  <div class="input-group-text bg-white">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="table-active">
                  <th scope="col">Materia</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Tema</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let materia of materias
                      | filtroMaterias: textoBuscar
                      | paginate: { itemsPerPage: 5, currentPage: p }
                  "
                >
                  <td>{{ materia.nombre_materia }}</td>
                  <td>
                    <button
                      *ngIf="materia.id_estado_materia == 1"
                      (click)="
                        updateEstadoMateria(
                          materia.id_materia,
                          materia.id_estado_materia
                        )
                      "
                      class="btn btn-primary"
                    >
                      {{ materia.nombre_estado_materia }}
                    </button>
                    <button
                      *ngIf="materia.id_estado_materia == 2"
                      (click)="
                        updateEstadoMateria(
                          materia.id_materia,
                          materia.id_estado_materia
                        )
                      "
                      class="btn btn-danger"
                    >
                      {{ materia.nombre_estado_materia }}
                    </button>
                  </td>
                  <td>
                    <button
                      (click)="cleartema();
                        open(asignar);
                        getidMateria(materia.id_materia, materia.nombre_materia)
                      "
                      class="btn btn-success"
                    >
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Agregar
                    </button>
                    |
                    <button
                      (click)="open(ver); getTemaMateria(materia.id_materia)"
                      class="btn btn-warning"
                    >
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                    </button>
                  </td>

                  <td>
                    <button
                      (click)="open(contenido); getMateria(materia.id_materia)"
                      class="btn btn-primary"
                    >
                      <i class="fas fa-edit"></i> Editar
                    </button>
                    |
                    <button
                      (click)="deleteCarrera(materia.id_materia)"
                      class="btn btn-danger"
                    >
                      <i class="far fa-trash-alt"></i> Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="contenido">
  <div class="content">
    <div class="row">

      <div class="col-md-6 offset-md-3">
        <button class="btn btn-primary" (click)="Crear()">
          <i class="fas fa-plus-square"></i> Crear materia
        </button>
        <br>
        <div class="card">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="table-active">
                  <th scope="col">Carrera</th>
                  <th scope="col">Materia</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let materiaCarrera of materiasCarrera  | paginate: { itemsPerPage: 5, currentPage: p }" >
                  <td>{{materiaCarrera.nombre_carrera}}</td>
                  <td>{{materiaCarrera.nombre_materia}}</td>

                  <td>
                    <button class="btn btn-primary">
                      <i class="fas fa-edit"></i>
                    </button>
                    |
                    <button class="btn btn-danger">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
    </div>




  </div>
</div> -->
</div>

<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!edit" id="modal-basic-title">
      Registro de información
    </h4>
    <h4 class="modal-title" *ngIf="edit" id="modal-basic-title">
      Actualizar información
    </h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="exform">
      <div class="form-group row">
        <div class="col">
          <label style="color: #161515">Nombre materia:</label>
          <input
            formControlName="nombre_materia"
            type="text"
            class="form-control"
            placeholder="Ingrese materia"
          />
          <small
            class="text-danger"
            *ngIf="
              exform.get('nombre_materia').hasError('required') &&
              exform.get('nombre_materia').touched
            "
            >campo es requerido</small
          >
        </div>
        <small
          class="text-danger"
          *ngIf="
            exform.get('nombre_materia').hasError('pattern') &&
            exform.get('nombre_materia').touched
          "
          >Ingrese solo letras</small
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>
    <button
      [disabled]="!exform.valid"
      *ngIf="!edit"
      type="button"
      class="btn btn-primary"
      (click)="saveMateria(); close(contenido)"
    >
      GUARDAR
    </button>
    <button
      [disabled]="!exform.valid"
      *ngIf="edit"
      type="button"
      class="btn btn-primary"
      (click)="editMateria(); close(contenido)"
    >
      ACTUALIZAR
    </button>
  </div>
</ng-template>
<ng-template #asignar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registro temas</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="temform">
      <label style="color: #161515">Materia: {{ nombre_materia }}</label>

      <div class="form-group">
        <label style="color: #161515">Tema</label>
        <input
          type="text"
          class="form-control"
          name=""
          placeholder="Ingrese nombre"
          formControlName="nombre_tema"
        />

        <small
          class="text-danger"
          *ngIf="
            temform.get('nombre_tema').hasError('required') &&
            temform.get('nombre_tema').touched
          "
          >campo es requerido</small
        >

        <small
          class="text-danger"
          *ngIf="
            temform.get('nombre_tema').hasError('pattern') &&
            temform.get('nombre_tema').touched
          "
          >Ingrese solo letras</small
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>
    <button
      [disabled]="!temform.valid"
      type="button"
      class="btn btn-primary"
      (click)="saveTema(); close(contenido)"
    >
      GUARDAR
    </button>
    <!-- <button  [disabled]="!temform.valid" *ngIf="edit" type="button" class="btn btn-primary" (click)="editMateria(); close(contenido)">
    ACTUALIZAR
    </button> -->
  </div>
</ng-template>

<ng-template #ver let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Temas</h4>
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="temas.length > 0">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="table-active">
              <th scope="col">Tema</th>

              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tema of temas">
              <td>{{ tema.nombre_tema }}</td>
              <td>
                <button
                  (click)="deleteTemaMateria(tema.id_tema_materia)"
                  class="btn btn-danger"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="temas.length ==0">
      {{ msjErr }}
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="close(contenido)"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<app-footer></app-footer>
